body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
	box-shadow: 5px 5px 15px rgba(104, 62, 209, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.nav-link {
  color: #683ed1 !important;
}

.navbar-brand {
  color: #683ed1 !important;
}

.card {
  box-shadow: 0px 0px 15px 1px rgba(104, 62, 209, 0.9);
  max-width: 63%;
  margin: 0 auto;
  background-color: white;
  margin-top: 3rem !important;
}

.card-header {
  border-bottom-color: #683ed1;
}

.auth-control {
  max-width: 60%;
  margin: 0 auto;
  padding-left: 40px;
  border-color: #683ed1;
  border-width: 1px;
}

.form-control {
  margin: 0 auto;
  border-color: #683ed1;
  border-width: 1px;
  box-shadow: 0 0 5px 0 #683ed1;
}

@media only screen and (max-width: 768px) {
  .card {
    box-shadow: 5px 5px 15px rgba(104, 62, 209, 0.5);
    max-width: 90%;
    margin: 0 auto;
  }
  
  .auth-control {
    max-width: 93% !important;
    margin: 0 auto;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    box-shadow: 5px 5px 15px rgba(104, 62, 209, 0.5);
    max-width: 90%;
    margin: 0 auto;
  }
  
  .auth-control {
    max-width: 75%;
    margin: 0 auto;
    padding-left: 40px;
  }
}

#inputEmail {
  background-image:url(./images/envelope.png); 
  background-repeat: no-repeat; 
  background-size: 21px 21px;
  background-position: 2% 55%;
}

#inputUsername {
  background-image:url(./images/usericon.png); 
  background-repeat: no-repeat; 
  background-size: 21px 21px;
  background-position: 2% 55%;
}

#inputPassword {
  background-image:url(./images/password.png); 
  background-repeat: no-repeat; 
  background-size: 21px 21px;
  background-position: 2% 55%;
}

#searchBar {
  background-image:url(./images/search.png); 
  background-repeat: no-repeat; 
  background-size: 21px 21px;
  background-position: 1.2% 55%;
}
.btn-primary {
  background-color: #683ed1;
}

.logo {
  width: 60px;
  margin-top: -5px;
}

.error {
  color: red;
  font-size: 0.75rem;
  text-align: left;
}

.alert {
  max-width: 65%;
  margin: 0 auto;
}

#profileContainer {
  background-color: white;
  box-shadow: 5px 5px 15px #683ed1;
  text-align:center;
}

#profilePicture {
  width: 200px;
  height: 200px;
  border: 2px solid rgba(104, 62, 209, 0.5) !important;
  border-radius: 50%;
  box-shadow: 2px 2px 15px #683ed1;
}

.profilePictureContainer {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.addProfilePictureContainer {
  position: absolute;
  top: 70%;
  right: 10%;
}

#addProfilePictureIcon {
  font-size: 2rem;
  color: #a17ef8;
}

#backgroundIcon {
  color:white;
  font-size: 2rem;
}

#addProfilePictureIcon:hover {
  color: darkviolet;
  cursor: pointer;
}


.recipeList {
  margin-top: 5rem;
  flex: 1;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.recipeTile img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  filter: brightness(80%);
  transition: 0.5s;
}

.recipeTile {
  width: 350px;
  height: 250px;
  margin: 20px;
  box-shadow: 2px 2px 15px #683ed1;;
  border: 1px solid #683ed1;
  position: relative;
  transition: 0.5s;
}

.recipeTile:hover img {
  filter:brightness(100%);
}

.recipeTile:hover {
  cursor: pointer;
  transform: scale(1.05);

}

.recipeTile h1 {
  color:white;
  position: absolute;
  z-index: 1;
  vertical-align: center;
  text-align: center;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  text-shadow: 1px 1px 10px #a17ef8;
  font-weight: 400;
}

.recipeTileCaption {
  top:50%;
  transform: translateY(-50%);
}

.row > * {
  padding-left: 0;
  padding-right: 0;
}

.row {
  width: 100% !important;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #fafafa;
  color: #683ed1;
  bottom: 0 !important;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  box-shadow: 0px -5px 15px #a17ef8;
  height: 75px;
}

#root {
  min-height: calc(100vh - 2px);
  position: relative;
  padding-bottom: 120px;
}

.recipeCreator {
  background-color: white;
  box-shadow: 5px 5px 15px #683ed1;
  text-align:center;
}

#recipeName {
  max-width: 40%;
  margin: 0 auto;
}

#recipeContent {
  max-width: 75%;
}

.recipePictureContainer {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.addRecipePictureContainer {
  position: absolute;
  top: 87%;
  right: 2%;
}

#recipePicture {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 2px dashed rgba(104, 62, 209) !important;
}

#addRecipePictureIcon {
  font-size: 4rem;
  color: #a17ef8;
}

#recipeBackgroundIcon {
  color:white;
  font-size: 4rem;
}

#addRecipePictureIcon:hover {
  color: darkviolet;
  cursor: pointer;
}

#recipeContent {
  max-height: 500px;
}

label {
  font-size: 1.2rem;
  color: #683ed1;
}

.card-header {
  color: #683ed1;
  font-size: 1.25em;
}

.card-body {
  padding: 0;
}

.btn-primary {
  position: relative;
  background-color: white;
  font-size: 1em;
  color:#683ed1;
  padding: 0.75em 1.75em;
  box-shadow: 0 0 0.75em 0 #683ed1;
  transition: 0.5s;
  text-shadow: 0 0 0.45em #a17ef8;
}

.btn-primary:hover {
  background-color: #683ed1;
  color:white;
  padding: 0.75em 1.75em;
  box-shadow: 0 0 1.5em 0 #683ed1;
}

.btn-primary:focus {
  background-color: #6C2DC7 !important;
  box-shadow: 0 0 2.5em 0 #6C2DC7 !important; 
}

.login-image {
  border-right: 2px solid #683ed1;
}

.spinnerContainer {
  margin: 0 auto;
  width: 100px;
}

.noRecipes {
 text-align: center;
}